.task {
	padding: #adapt(12, 8)[@value] #adapt(23, 13)[@value] #adapt(12, 8)[@value] #adapt(23, 13)[@value];
	display: flex;
	align-items: center;
	background-color: @bg-elemet-color;
	border-radius: 10px;
	transition: all 0.3s ease-in;

	&:hover {
		background-color: @bg-element-color-hover;
	}

	div:first-child {
		margin-right: #adapt(17, 10)[@value];
	}

	font-size: #adapt(27, 17)[@value];

	&__title {
		flex: 1 1 auto;
		color: white;
		line-height: 1.5;
	}

	&__star {
		@star-color: #9696E6;
		transition: all 0.3s ease-in;
		font-size: 1.5em;
		cursor: pointer;
		color: @bg-elemet-color;
		text-shadow:
			-0 -0.5px 0 @star-color,
			0 -0.5px 0 @star-color,
			-0 0.5px 0 @star-color,
			0 0.5px 0 @star-color,
			-0.5px -0 0 @star-color,
			0.5px -0 0 @star-color,
			-0.5px 0 0 @star-color,
			0.5px 0 0 @star-color,
			-0.5px -0.5px 0 @star-color,
			0.5px -0.5px 0 @star-color,
			-0.5px 0.5px 0 @star-color,
			0.5px 0.5px 0 @star-color,
			-0.5px -0.5px 0 @star-color,
			0.5px -0.5px 0 @star-color,
			-0.5px 0.5px 0 @star-color,
			0.5px 0.5px 0 @star-color;

		&.active {
			color: @star-color;
		}
	}

}