.main {
	display: flex;
	flex-direction: column;
	height: 100%;

	header {
		margin-bottom: 7vh;
	}

	>div {
		flex: 1 1 auto;
	}
}

.tasks-container {
	>div {
		margin-bottom: #adapt(17, 12)[@value];

		&:last-child {
			margin-bottom: 0;
		}
	}
}