.step {
	display: flex;
	align-items: center;
	padding-bottom: 7px;
	border-bottom: 1.5px solid rgb(67, 67, 67);

	& div:first-child {
		flex: 0 0 auto;
	}

	&__title {
		flex: 1 1 auto;
		padding-left: 13px;
		color: rgb(122, 125, 132);
		font-size: #adapt(26, 16)[@value];
	}
}