.sidebar {
	background-color: rgb(39, 39, 39);

	padding: 3vh #adapt(30, 15)[@value];
	height: 100%;
	border-radius: 15px 0 0 15px;
	transition: all 0.3s ease-in;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}