.sidebar {
	background-color: rgb(39, 39, 39);
	padding: 4vh #adapt(30, 15)[@value];
	border-radius: 15px 0 0 15px;
	transition: all 0.3s ease-in;

	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	#generalChildParams {
		background-color: rgb(50, 50, 50);
		border-radius: 15px;
	}

	&__header {
		@media (min-width: 430px) {
			flex: 1 1 auto;
		}

		margin-bottom: #adapt(35, 30)[@value];
		overflow-y: auto;
		border-radius: 15px;

		&>div {
			#generalChildParams();
		}

		padding-right: #adapt(10, 7)[@value];

		&::-webkit-scrollbar {
			width: #adapt(7, 4)[@value];
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(115, 115, 115, 0.5);
			border-radius: 5px;
		}
	}

	@media (max-width: 430px) {
		&__empty-space {
			flex: 1 1 auto;
		}

		&__header {
			margin-bottom: 15vh;
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;

		padding-top: 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);


		& div:first-child {
			grid-column-start: 1;
			grid-column-end: 3;
			transform: translate(25%, 0);
		}

		& div:last-child {
			grid-column-start: 3;
			grid-column-end: 4;
			justify-self: right;
			cursor: pointer;
		}
	}
}

.edditing-time {
	color: white;
	font-family: 'Roboto';

	font-size: #adapt(27, 20)[@value];
}