@import url('./fonts/fonts.less');
@import url('./nullstyle');

.title {
	font-size: 3rem;
	color: blue;

	font-family: 'Quicksand';
	font-weight: bold;

	p {
		font-family: 'Roboto';
		color: red;
		font-weight: normal;
	}
}